/* This is the code that provides style to the page. The first piece is the background color
and how the text is displayed */
body {
  background-color:rgb(2, 132, 130);
  font-size: 20px;
    margin: 8px;
    text-align: left;
    color: black;
}
/*font for the page below */

body {
  font-family:Helvetica;
}

/* changes the color of the section titles to white */
h1 {
  color:white
}

/*Header style for the lessons titles */

.Header {
  background-color:rgb(255,102,0);
  font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*Content style for each lesson's summary */
.summary-content {
  background-color: rgb(79, 140, 207);
   border-radius: 20px;
   padding: 10px;

 }

